.logout button{
    margin-right: 2vw;
    margin-top: 1vh;
}

.header img{
    width: 100%;
    height: 300px;
}

.task:hover{
    background-color: wheat;
}
.footer{
    background-color: black;
    color: white;
    height: 100px; 
    padding-top: 10px;
}
