.header{
    background-color: #07A0C7;
}

#btn-home {
    padding: 10px;
    background-color: #28a745;
    color: white;
    font-weight: bold;
    float: left;
}

#title{
    float: none;
    color: white;
}

.button{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: gold;
    border-radius: 20px;
    width: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button:hover{
    color: black;
    background-color: white;
}