/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 8, 2022, 5:44:13 PM
    Author     : Admin
*/

.body{
    width: 70%;
    margin: 0 auto;
    font-size: 20px;
}

.body form table tr td:nth-child(1){
     width: 44%;
}

.body form table tr td:nth-child(2){
     width: 15%;
}
.body form table tr td:nth-child(3){
     width: 15%;
}
.body form table tr td:nth-child(4){
     width: 15%;
}
.body form table tr td:nth-child(5){
     width: 10%;
}

#submit{
    margin-left: 19%;
}
#previous{
    position: relative;
    bottom:34px;
}