<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>controller.product.SearchProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProductServlet</servlet-name>
        <servlet-class>controller.product.InsertProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>controller.product.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.page.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.authentication.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessDeniedServlet</servlet-name>
        <servlet-class>controller.authentication.AccessDeniedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>controller.product.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.authentication.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccountServlet</servlet-name>
        <servlet-class>controller.account.SearchAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>controller.account.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertAccountServlet</servlet-name>
        <servlet-class>controller.account.InsertAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DecentralizationAccountServlet</servlet-name>
        <servlet-class>controller.account.DecentralizationAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportServlet</servlet-name>
        <servlet-class>controller.export.ExportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportNewCustomer</servlet-name>
        <servlet-class>controller.export.ExportNewCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportChoseProduct</servlet-name>
        <servlet-class>controller.export.ExportListProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductToCartServlet</servlet-name>
        <servlet-class>controller.export.AddProductToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutOrder</servlet-name>
        <servlet-class>controller.export.CheckOutOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductToCartServlet</servlet-name>
        <servlet-class>controller.export.DeleteProductToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewInvoiceServlert</servlet-name>
        <servlet-class>controller.export.ViewInvoiceServlert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportOldCustomer</servlet-name>
        <servlet-class>controller.export.ExportOldCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderServlet</servlet-name>
        <servlet-class>controller.order.SearchOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailOrderServlet</servlet-name>
        <servlet-class>controller.order.DetailOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.authentication.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/product/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProductServlet</servlet-name>
        <url-pattern>/product/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/product/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessDeniedServlet</servlet-name>
        <url-pattern>/accessDenied</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/product/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccountServlet</servlet-name>
        <url-pattern>/account/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/account/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertAccountServlet</servlet-name>
        <url-pattern>/account/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DecentralizationAccountServlet</servlet-name>
        <url-pattern>/account/decentralization</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportServlet</servlet-name>
        <url-pattern>/export</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportNewCustomer</servlet-name>
        <url-pattern>/export/newCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportChoseProduct</servlet-name>
        <url-pattern>/export/listProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductToCartServlet</servlet-name>
        <url-pattern>/cart/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutOrder</servlet-name>
        <url-pattern>/cart/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductToCartServlet</servlet-name>
        <url-pattern>/cart/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewInvoiceServlert</servlet-name>
        <url-pattern>/export/viewInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportOldCustomer</servlet-name>
        <url-pattern>/export/oldCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrderServlet</servlet-name>
        <url-pattern>/order/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailOrderServlet</servlet-name>
        <url-pattern>/order/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
